// Doctor Search Form
// ==================
//
// 1. Ensure that button align with input field
// 2. Override flex style

.c-doctor-search__form-field-input {
    display: block; // 2
}

.c-doctor-search__form-field-inner {
    display: inline-block;
    width: 100%;
}

.c-doctor-search__form-field-label-wrap {
    display: flex;
    flex: 1 1 auto;
}

.c-doctor-search__form-field-label {
    flex: 1 1 auto;
    margin-bottom: $unit;

    font-weight: $semi-bold-font-weight;
    font-size: $font-size;
    line-height: 1em;
}

.c-doctor-search__form-field-error-text {
    margin-top: $sub-unit;

    color: $error-color;
    font-size: $small-font-size;
    line-height: $small-line-height;
}

.c-doctor-search__form-field-row {
    max-width: 25em;
}

.c-doctor-search__form-field-error {
    .c-doctor-search__form-field-label {
        color: $error-color;
    }

    input,
    select,
    .c-doctor-search__form-field-input > * {
        border-color: $error-color;

        &:focus,
        &:active {
            border-color: $error-color;

            box-shadow: 0 0 4px 0 $error-color;
        }
    }
}

.c-doctor-search__button {
    .c-doctor-search__form-field-label {
        width: 1px; // 1
        visibility: hidden; // 1
        white-space: nowrap; // 1
    }
}
